.profile__subtitle {
    margin: 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 16px;
    max-width: 40vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 900px) {
    .profile__subtitle{
        margin: 0 auto;
        margin-top: 14px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;

    }
}